img
{
    width: 500px; 
    height: 500px;
    border-radius: 50%;
}
.myerror
{
    font-size: 32px;
    font-family: 'Dancing Script', cursive;
}
#loc 
{
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
}
#summary 
{
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
}
#desc 
{
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
}